#card-h1 {
    font-family: "poppins";
}

#card-para {
    font-family: "sans-serif";
    font-size: large;
}
.choose-card{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    position: relative;
    font-family: "poppins";
}
.choose-box {
    box-shadow: 0px 0px 8px black;
    background: linear-gradient(to bottom, #b1e2f1, #ceface);
    padding: 30px;
    border: dotted;
    
}

#lap{
    width: 80px;
    border: double;
    border-radius: 50%;
    object-fit: cover;
}

.choose-img {
    position: absolute;
    left: 15%;
    top: 1px;
}
.choose-box1{
    box-shadow: 0px 0px 8px black;
        background: linear-gradient(to bottom, #b1e2f1, #b9f1b9);
        padding: 30px;
        border: dotted;
}
#money{
    width: 80px;
    border: double;
        border-radius: 50%;
        object-fit: cover;
}
.choose-img1 {
    position: absolute;
    left: 15%;
    top: 1px;
    
}
.choose-box2 {
    box-shadow: 0px 0px 8px black;
    background: linear-gradient(to bottom, #b1e2f1, #b9f1b9);
    padding: 30px;
    border: dotted;
}
.choose-img2 {
    position: absolute;
    left: 14%;
    top: 1px;

}
#graduate{
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: double;
    
}
.choose-box3 {
    box-shadow: 0px 0px 8px black;
    background: linear-gradient(to bottom, #b1e2f1, #b9f1b9);
    padding: 30px;
    border: dotted;
}

.choose-img3 {
    position: absolute;
    left: 15%;
    top: 1px;

}

#job {
   width: 80px;
    border-radius: 50%;
        object-fit: cover;
        border: double;
}
.choose-box4 {
    box-shadow: 0px 0px 8px black;
    background: linear-gradient(to bottom, #b1e2f1, #b9f1b9);
    padding: 30px;
    border: dotted;
}

.choose-img4 {
    position: absolute;
    left: 15%;
    top: 1px;

}
#career{
     width: 80px;
     border-radius: 50%;
     border: double;

}
.choose-box5 {
    box-shadow: 0px 0px 8px black;
    background: linear-gradient(to bottom, #b1e2f1, #b9f1b9);
    padding: 30px;
    border: dotted;
}

.choose-img5 {
    position: absolute;
    left: 15%;
    top: 1px;

}
#highlight{
        width: 80px;
        border-radius: 50%;
            border: double;
}
@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.choose-card {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease-out;
}

.choose-card.visible {
    opacity: 1;
    transform: translateY(0);
    animation: slideUp 0.8s ease-out forwards;
}
.slide-up{
    text-align: center;
}
