.header-card{
    justify-content: space-between;
   display: flex;
    background: linear-gradient(#f2f0f3, #f6f7f3);
   cursor: pointer;
   position: fixed;
   top: 0;
   z-index: 1000;
   width: 100%; 
}

.logo{
   
     font-family: "poppins";
    display: flex;
    align-items: center;
    color: rgb(2, 77, 102);
    gap: 8px;
}
.menu{
    display: flex; 
    gap: 25px;
    align-items: center;
    font-family: "poppins";
    font-size: large;

}
#log-btn{
    margin-top: 12px;
    padding: 10px;
    font-size: large;
    border: none;
    outline: none;
    align-items: center;
   border-radius: 10px;
    margin-right: 50px;
}
body {
    padding-top: 100px;
   
}
#log-btn:active{
     transform: scale(0.99);
}
#log-btn:hover{
    background-color: rgb(173, 170, 170);
    cursor: pointer;
}
body{
    margin: 0;

    padding: 0;
} 
@media (max-width: 768px) {
    /* .menu {
        display: none;
        
    } */

    .header-card {
        padding: 10px;
    }

    #log-btn {
        margin-right: 10px;
        padding: 8px 12px;
        font-size: medium;
    }
}




